{% extends 'base.html' %}

{% block head %}
<title>Image Classifier</title>
{% endblock %}

{% block body %}

<div class="container">

    <form action="/update/{{ pic.id }}" method="POST" enctype="multipart/form-data">
        <div class="row" style="margin-top: 20px;">
            <div class="col s12"></div>
            <div class="file-field input-field col s10">
                <div class="btn light-blue darken-3">
                    <span>Browse</span>
                    <input type="file" name="uploadPic"/>
                </div>

                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload file" />
                </div>
            </div>
            <div class="input-field col s2 right-align">
                <button class="btn waves-effect waves-light light-blue darken-3" type="submit" name="action">
                    <i class="small material-icons">edit</i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}